* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

div {
    border: 1px solid #666;
    margin: 20px;
    min-width: 10px;
    min-height: 10px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    border: 0 none;
}

.left, .right {
    float: left;
    width: 200px;
    height: 100px;
    margin: 0 20px;
}

.right {
    float: right;
}

.responsive {
    margin-left: 240px;
    height: 500px;
}

#header .responsive {
    margin-right: 240px;
    height: 100px;
}

#body .left {
    height: 500px;
}

#header, #body {
    border: 0 none;
    margin: 0;
}
